@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --animate-muncul: muncul 1s forwards;
  --animate-hilang: hilang 1s forwards;
    
    @keyframes muncul {
      0% {
        right: -100%;
      }
      100% {
        right: 0;
      }
    }

    @keyframes hilang {
      0% {
        right: 0;
      }
      100% {
        right: -100%;
      }
    }
}