@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --font-lavishly: "Lavishly Yours", sans-serif;
  --animate-muncul: muncul 1s forwards;
  --animate-hilang: hilang 1s forwards;
  --color-kopi: #3E2723;
  --color-cream: #f0ede6;
  --color-espresso: #0e0e0e;
  --color-daunkopi: #3A5A40;
  --color-susu: #F2F2F2;
    
    @keyframes muncul {
      0% {
        right: -100%;
        opacity: 0;
      }
      100% {
        right: 0;
        opacity: 100;
      }
    }

    @keyframes hilang {
      0% {
        right: 0;
        opacity: 100;
      }
      100% {
        right: -100%;
        opacity: 0;
      }
    }
}

.nav-link {
  @apply
    hover:text-kopi after:border-b-2 after:scale-0 after:block hover:after:scale-80 transition-all after:duration-600 ease-in block sm:inline-block sm:mr-3 text-center text-espresso
    font-semibold
}

.button {
  @apply 
    border border-kopi py-3 rounded-4xl font-semibold bg-espresso text-susu hover:bg-gray-800 dark:hover:bg-kopi transition-all
}