@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --animate-muncul: muncul 1s forwards;
  --animate-hilang: hilang 1s forwards;
  --color-kopi: #3E2723;
  --color-cream: #FAF3E0;
  --color-espresso: #2c2c2c;
  --color-daunkopi: #3A5A40;
  --color-susu: #F2F2F2;
    
    @keyframes muncul {
      0% {
        right: -100%;
        opacity: 0;
      }
      100% {
        right: 0;
        opacity: 100;
      }
    }

    @keyframes hilang {
      0% {
        right: 0;
        opacity: 100;
      }
      100% {
        right: -100%;
        opacity: 0;
      }
    }
}

.nav-link {
  @apply
    hover:text-daunkopi after:border-b-2 after:scale-0 after:block hover:after:scale-50 transition-all after:duration-500 ease-in block sm:inline-block sm:mr-3 text-center
}